@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #5C4033;
    background-color: #d8cbc4;
}

/* headers and logo */

h1, h2 {
    font-family: Roboto, sans-serif;
    color: #5C4033;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/* navigation links */

#tabs {
    font-size: 115%;
    letter-spacing: 3px;
}

#tabs, #logo {
    line-height: 75px;
}

#tabs li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#tabs a {
    text-decoration: none;
    color: inherit;
}

#tabs a:hover {
    border-bottom: 1px solid #5C4033;
}

/* home image and cover-text */

#home-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}

#cover-text, #cover-text h2{
    color: #fafafa;
}

#home-image {
    height: 600px;
    width: 100%;
    background: url(../images/home-image.jpeg) repeat center center;


    /* animation of zoom */
    animation-name: home-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    }

    /* zoom for home image */

    @keyframes home-zoom {
    from{
        transform: scale(1);
    }
    to{
     transform: scale(1.1);

    }
}

#cover-text {
    text-align: center;
    font-size: 140%;
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
   
    width: 300px;
    height: 250px;

    padding-top: 50px;
    padding-left: 5px;

    background-color: rgba(92, 64, 51, 0.6);

    bottom: 20px;
    right: 150px;
   
    position: absolute;
}

/* about us */

#about-us {
    height: 600px;
}

#about-us h1 {
    font-size: xx-large;
    text-align: center;
    margin-top: 1em;
}

#story {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#values {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#benefits {
    padding-top: 30px;
    width: 33%;
    float: center;
}

.story-heading {
    text-align: center;
    letter-spacing: 1px;
    line-height: 2em;
}

.story-heading p {
    margin-top: 1em;
}


.values-heading {
    text-align: center;
    letter-spacing: 1px;
    line-height: 2em;
}

.values-heading p {
    margin-top: 1em;
}

.benefits-heading {
    text-align: center;
    letter-spacing: 1px;
    line-height: 3em;
    margin-top: 1em;
}

.benefits-heading ul {
    margin-top: 1em;
}
 
ul li {
    list-style-position: inside;
 }

 .about-us-cover {
    font-family: Montserrat, sans-serif;
    color: #fafafa;

    width: 500px;
    height: 600px;

    padding-top: 5px;
    padding-left: 5px;

    background-color: rgba(92, 64, 51, 0.6);

    bottom: 20px;
    right: 150px;
   
    position: fixed;

 }